/* index.css */
body {
    font-family: "Inter var", sans-serif;
}

.p-button {
    color: rgb(255, 255, 255);
    background-color: rgb(59, 130, 246);
    border: none;
    transition: background-color 0.3s;
}

.p-button:hover {
    background-color: rgb(37, 99, 235);
}

.p-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(59, 130, 246, 0.5);
}
